<div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="../../assets/profile.jpg" alt=""/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                          <h5 class="font-weight-bold">
                              Godwin Jacob
                          </h5>
                          <h6 class="font-weight-bold">
                              Azure Developer
                          </h6>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">More..</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
                  <p class="font-weight-bold">SKILLS</p>
                  <p class="font-weight-light">Azure</p>
                  <p class="font-weight-light">C#</p>
                  <p class="font-weight-light">DevOps</p>
                  <p class="font-weight-light">Angular</p>
              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Name</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Godwin Jacob</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Email</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>godwinjacob.r@gmail.com</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Phone</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>+46 764529428</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p></p>
                                </div>
                                  <div class="col-md-6">
                                    <p>+91 7418879702</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Profession</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Software Engineer</p>
                                  </div>
                              </div>
                  </div>
                  <div class="tab-pane fade more align-self-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Hometown</label>
                        </div>
                        <div class="col-md-6">
                            <p>Kanyakumari</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Country</label>
                        </div>
                        <div class="col-md-6 country">
                            <p>India</p>
                            <img class="icon country-icon" src="../../assets/india.png"/>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="container">
            <div class="col-xs-12">
              <div class="col-md-6">
                <label class="font-weight-bold">Links</label>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/in/godwin-jacob-52386b125" target="_blank" class="fa fa-linkedin links"></a>
                </div>
                <div class="col-md-1 links">
                  <a href="https://www.linkedin.com/in/godwin-jacob-52386b125" target="_blank" class="fa fa-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
