
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 20vw;
}


.more1 {
  width: 100%;
  margin:0 auto;
  display: block;
  font-size:2vw;
  align-items: center;
  /* display: flex;
  justify-content: center; */
}

.country-icon {
  /* margin: 0; */
  width: 4vw;
  height: 6vh;
}

.country {
  display: flex;
}

.links {
  width: 40vw;
  height: 6vh;
  display: flex;
  margin: 1;
  float: left;
}

#profile {
  background: url('https://r-cf.bstatic.com/images/hotel/max1024x768/120/120793423.jpg');
  /* background: url('../../assets/native.jpg'); */
  margin: 1;
  border-radius: 0px;
  align-items: center;
  width: 60vw;
  height: 60vh;
  /* margin:0 auto;
  display: block; */
}

