@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 20vw;
}

.more {
  display: flex;
  margin: 0px;
  display: flex;
  font-size: 1.5vw;
  align-items: center;
}

.more-top {
  margin: 50px 0px 0px 0px;
}

.country-icon {
  margin: 0 10px 10px 10px;
  width: 4vw;
  height: 6vh;
  padding: 10px;
}

.country {
  display: flex;
}

.links {
  width: 40vw;
  height: 6vh;
  display: flex;
  margin: 1;
  float: left;
}

#profile {
  background: url("https://r-cf.bstatic.com/images/hotel/max1024x768/120/120793423.jpg");
  align-items: center;
  height: 60vh;
  margin: 0;
  padding: 20px 20px 20px 20px;
}

.fa {
  /* padding: 20px; */
  font-size: 25px;
  text-decoration: none;
  /* margin: 5px 2px; */
}

.fa:hover {
  opacity: 0.4;
}
