<div class="container">
  <div class="row welcome" *ngIf="isLoggedIn">
    <div class="col-xs-12">
      <p class="font-italic font-weight-bolder text-muted">{{ 'Welcome, '+ username }}</p>
      <a [routerLink]="" (click)="onLogOut()">
        LogOut</a>
    </div>
  </div>
  <div class="row inputs">
    <!-- <form class="form-signin form"
    [formGroup]="forgotPwdForm"
    (ngSubmit)="onSubmit()"></form> -->
    <form
      class="form-signin form"
      *ngIf="!isLoggedIn"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal inputs">{{ 'Please ' + (isLoginMode ? 'sign in' : 'sign up')}}</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <input
            type="email"
            id="inputEmail"
            formControlName="inputEmail"
            class="form-control"
            placeholder="Email address"
          />
        </div>
        <div *ngIf="inputEmail.pending">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Verifying mail Id...
          </button>
        </div>
        <div
          *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="inputEmail.errors.forbiddenName">
            Email cannot contain test.
          </div>
          <div *ngIf="inputEmail.errors.mailAlreadyTaken">
            This mail id is already taken.
          </div>
          <div *ngIf="inputEmail.errors.required">
            Email is required.
          </div>
          <div *ngIf="inputEmail.errors.email">
            Not a valid mail Id.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <div class="input-group">
          <input
            [type]="fieldTextType ? 'text' : 'password'"
            id="inputPassword"
            class="form-control"
            formControlName="inputPassword"
            placeholder="Password"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }"
                (click)="toggleFieldTextType()"
              ></i>
            </span>
          </div>
        </div>

        <div
          *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="inputPassword.errors.passwordminLength">
            Min Password length is 6.
          </div>
          <div *ngIf="inputPassword.errors.required">
            Password is required.
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="!isLoginMode">
        <label for="inputPasswordConfirm" class="sr-only"
          >Password</label
        >
        <div class="input-group">
          <input
          [type]="repeatFieldTextType ? 'text' : 'password'"
            id="inputPasswordConfirm"
            class="form-control"
            formControlName="inputPasswordConfirm"
            placeholder="Confirm Password"
            *ngIf="!isLoginMode"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !repeatFieldTextType,
                  'fa-eye': repeatFieldTextType
                }"
                (click)="toggleRepeatFieldTextType()"
              ></i>
            </span>
          </div>
        </div>
        <div
            *ngIf="inputPasswordConfirm.invalid && (inputPasswordConfirm.dirty || inputPasswordConfirm.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="inputPasswordConfirm.errors.required">
              Password is required.
            </div>
          </div>
          <div
            *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched) && loginForm.errors"
            class="alert alert-danger">
            <div *ngIf="loginForm.errors?.passwordNotMatching">
              Passwords not matching.
            </div>
          </div>
      </div>
      <br />
      <button
       class="btn btn-lg btn-primary btn-block"
       type="submit"
       [disabled]="loginForm.invalid || loginForm.errors || loginForm.pending">
        {{ isLoginMode ? 'Sign in' : 'Sign up' }}
      </button>
      <br>
      <div *ngIf="isLoading" style="text-align: center;">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Signing in...
        </button>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class="mt-4">
        <div *ngIf="isLoginMode">
          <div class="d-flex justify-content-center links" >
            <a [routerLink]="" (click)="onForgotPassword()"
              >Forgot your password?</a
            >
          </div>
          <div class="d-flex justify-content-center links">
            Don't have an account?&nbsp;
            <a [routerLink]="" (click)="switchSignIn()">Sign Up</a>
          </div>
          <br>
          <div class="d-flex justify-content-center links">
            <a routerLink="/home" (click)="onGuestLogin()">Continue as guest</a>
          </div>
        </div>
        <div class="d-flex justify-content-center links" *ngIf="!isLoginMode">
          <a [routerLink]="" (click)="switchSignIn()">
            Sign in&nbsp;</a>
          instead
        </div>
      </div>
      <div class="mt-4">

      </div>
    </form>
  </div>
</div>
