@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.form {
  padding: 45% 0% 10% 130%;
}

.inputs {
  width: 280px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.welcome {
  position: inherit;
  text-align: center;
  width: 150%;
  height: 10%;
  font-size:2vw;
  margin: 0 auto;
  padding: 20px 0px 200px 20px;
}
